@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
      margin: 0px;
}

#container {
      position: relative;
      overflow: visible;
      filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
      position: absolute;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      /* font-size: 45px; */
      text-align: center;
      user-select: none;
}